# env files
.env

# libs
vendor/
node_modules/

# docker
docker/logs
docker/mysql/data

#editor
.idea/

#tools
.phplint-cache
.phpunit.result.cache
coverage/

# cache
storage/cache/

# logs
storage/logs/

# build
public/assets/js/
public/assets/css/
