<div class="mb-5">
    <form action="/import" method="POST">
        {{ include('partials/csrf.twig') }}

        <div class="mb-3">
            <label for="inputContent" class="form-label">Csv Content</label>
            <textarea id="inputContent" class="form-control"
                      name="content" rows="10"
                      aria-describedby="contentHelp"
            >{{ activeFileContent }}</textarea>
            <div id="contentHelp" class="form-text">CSV string with ';' as separator</div>
        </div>

        <button type="submit" class="btn btn-primary">Import in DB</button>
    </form>
</div>
