<div class="mb-5">
    <h2 class="h5 pb-2">CSV Files</h2>
    <ul class="list-group">
        {% for f in filesList %}
            <a class="list-group-item {{ f == listActiveCsv? 'active' : '2' }}"
               href="/?{{ queryStringFileName }}={{ f }}">
                {{ f }}
            </a>
        {% endfor %}
    </ul>
</div>
