<div class="mb-5">
    <h2 class="h5 pb-2">Table</h2>

    {% if tableArrayRows|length > 0 %}
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                {% for header in tableArrayHeaders %}
                    <th>{{ header }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for row in tableArrayRows %}
                <tr>
                    {% for header in tableArrayHeaders %}
                        <td>{{ row[header] }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        There are no records to show
    {% endif %}
</div>
