<div class="mb-5">
    <ul class="list-group">
        {% for f in filesList %}
            <a class="list-group-item {{ f == activeFileName? 'active' : '2' }}"
               href="?{{ queryStringFileName }}={{ f }}">
                {{ f }}
            </a>
        {% endfor %}
    </ul>
</div>
