{% extends "layout/layout.twig" %}

{% block content %}

    <div class="alert alert-primary" role="alert">
        <span>The CSV string has been imported into the database (</span>
        <span>{{ affectedRows.getCreated() }} created,</span>
        <span>{{ affectedRows.getUpdated() }} updated</span>
        <span>)</span>
    </div>

    {% include('csv/partials/list.twig') %}

    {% include('csv/partials/form.twig') %}


{% endblock %}
